{% extends base_template %}

{% block configurator %}
    <div class="box box-primary">
        <div class='box-header with-border'>
            <h3 class="box-title"><i class="fa fa-exchange"></i> Import/Export the configuration</h3>
        </div>
        <div class="box-body">
            <div class="alert alert-warning">
                This fonctionality allow to backup and restore all the configuration options.<br/>
                <strong>Warning, this fonctionality export only the configuration an nothing else !</strong>
                </div>

            <h3 class="mt25">Export</h3>
            <a href="{{path('dynamique_configurator_export')}}" class="btn btn-info btn-lg"><i class="fa fa-download"></i> Download the configuration file</a>

            <h3 class="mt25">Import</h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {% if import_form.file.vars.errors|length %}
                    <div class="alert alert-danger">
                        {%- for error in import_form.file.vars.errors -%}
                            <span>{{ error.message }}</span><br />
                        {%- endfor -%}
                    </div>
                {% endif %}
                <div class="col-md-3">
                    {{form_widget(import_form.file)}}
                </div>
                {{form_widget(import_form.submit)}}
                {{form_rest(import_form)}}
            </form>
        </div>
    </div>
{% endblock %}
